/* =Reset default browser CSS. Based on work by Eric Meyer
-------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Site-Specific CSS
-------------------------------------------------------------- */

/**************** Polar Bear Design styles *****************/

body {
  background: #eee;
  font-family: Helvetica, Tahoma, Geneva, sans-serif;
  line-height: 1.4em;
  color: #000;
  }

#container {
  width: 80%;
  min-width: 870px;
  margin: 1em auto 2em;
  padding: 0 0 0 0;
  text-align: left;
  background: #fff url("../img/ice_web background.jpg") no-repeat left top;
  min-height: 100%;
  border: 1px solid #62ccf5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 15px 5px #62ccf5;
  -webkit-box-shadow: 0px 0px 15px 5px #62ccf5;
  -moz-box-shadow: 0px 0px 15px 5px #62ccf5;
  }

#page-content {
  }


#header {
  float: left;
  width: 100%;
  text-align: center;
  }

#header img {
  margin: 1em auto 0;
  }

#content_main {
  font-size: 1em;
  width: 70%;
  float: left;
  padding-left: 20px;
  border-left:  1px solid #ccc;
  margin: 2em -1px 0 0;
  }

#content_left {
  width: 20%;
  float: left;
  margin: 4em 0 0 0;
  padding: 0 1em;
  border-right: 1px solid #ccc;
  font-size: 0.75em;
  }

#footer {
  margin: 2em auto 0;
  border-top:  1px solid #ccc;
  width: 95%;
  text-align: center;
  font-size: 0.75em;
  }

a:link, a:visited{
	color: #003399;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 480;
  }

.row {
  float: left;
  white-space: nowrap;
  display: inline;
  width: 100%;
  }

.tables { 
  margin: 0;
  height: 480px;
  width: 8168px; /* for width of scroll item: each day is 100px wide = 3100px for 31 days */
  } 

.time_table_header {
  background: #fff;
  text-align: center;
  font-weight: bold;
  }

.time_table_body {
  background: #fff;
  }

.cell {
  float: left;
  }

.hourly {
  border-spacing: 0;
  cellpadding: 0;
  border-collapse: collapse;
  }

.hourly td {
  border: 1px solid #999;

  }

.taken {
  /*background: url("img/taken.jpg");*/
  background: #cadbeb;
  text-align: right;
  }

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background: #e0eeff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }

p {
  margin: 0.75em 0;
  }

h1, h2 {
  font-weight: bold;
  font-size: 1.5em;
  }

h2 {
  font-size: 1.25em;
  }

.error {
  color: #cc0000;
  }

#login {
  margin: 2em auto;
  }

.signout {
  font-size: 0.75em;
  text-align: right;
  }

.legible {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0 1em 2em;
  border: 1px solid #eee;
  }

.legible tr {
  background-color: #fff;
  }

.legible tr:nth-child(2n+3) {
  background-color: #ebf3fa;
  }



.legible th {
  padding: 0.5em;
  background-color: #cadbeb;
  border: 1px solid #eee;
  }

.legible td {
  vertical-align: top;
  padding: 0.5em;
  border: 1px solid #eee;
  }
